
<div class="outer-container">
    <div class="inner-container">
      <div class="login-container">
        <h2>Login</h2>
        <div *ngIf="errorMessage" class="error-message"> {{errorMessage}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" required>
              </div>
              <button type="submit">Login</button>
              <br>
              <div class="signup-link">Don't have an account? <a routerLink="/signup">Sign Up</a></div>
        </form>
      </div>
    </div>
  </div>


  