<div class="bg-[#8E8FFA] min-h-screen flex justify-center items-center">
  <div class="bg-white rounded-lg shadow-lg p-8 w-[500px]">
    <h1 class="text-2xl font-bold mb-4 text-[#7752FE]">Add Employee</h1>
    <div class="container">
      <form (ngSubmit)="onSubmit()" class="form">
        <table class="w-full border-collapse border">
          <thead>
            <tr>
              <th class="px-4 py-2 border font-bold">Field</th>
              <th class="px-4 py-2 border font-bold">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 border font-bold">First Name</td>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  id="first_name"
                  [(ngModel)]="employee.first_name"
                  name="first_name"
                  required
                  class="input w-full"
                />
              </td>
            </tr>
            <tr>
              <td class="px-4 py-2 border font-bold">Last Name</td>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  id="last_name"
                  [(ngModel)]="employee.last_name"
                  name="last_name"
                  required
                  class="input w-full"
                />
              </td>
            </tr>
            <tr>
              <td class="px-4 py-2 border font-bold">Email</td>
              <td class="px-4 py-2 border">
                <input
                  type="email"
                  id="email"
                  [(ngModel)]="employee.email"
                  name="email"
                  required
                  class="input w-full"
                />
              </td>
            </tr>
            <tr>
              <td class="px-4 py-2 border font-bold bg-white">Gender</td>
              <td class="px-4 py-2 border">
                <select id="gender" [(ngModel)]="employee.gender" name="gender" required class="input w-full">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="px-4 py-2 border font-bold">Salary</td>
              <td class="px-4 py-2 border">
                <input
                  type="number"
                  id="salary"
                  [(ngModel)]="employee.salary"
                  name="salary"
                  required
                  class="input w-full"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="flex justify-end mt-4">
          <button
            type="submit"
            class="button bg-[#7752FE] text-white px-4 py-2 rounded-md shadow-md mr-2"
          >
            Add Employee
          </button>
          <button
            class="button cancel bg-black text-white px-4 py-2 rounded-md shadow-md"
            (click)="goBack()"
          >
            Back to Employee List
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
