  <h1>Add Employee</h1>
  <div class="container">
    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="first_name" class="label">First Name</label>
        <input type="text" id="first_name" [(ngModel)]="employee.first_name" name="first_name" required class="input">
      </div>
      <div class="form-group">
        <label for="last_name" class="label">Last Name</label>
        <input type="text" id="last_name" [(ngModel)]="employee.last_name" name="last_name" required class="input">
      </div>
      <div class="form-group">
        <label for="email" class="label">Email</label>
        <input type="email" id="email" [(ngModel)]="employee.email" name="email" required class="input">
      </div>
      <div class="form-group">
        <label for="gender" class="label">Gender</label>
        <input type="text" id="gender" [(ngModel)]="employee.gender" name="gender" required class="input">
      </div>
      <div class="form-group">
        <label for="salary" class="label">Salary</label>
        <input type="number" id="salary" [(ngModel)]="employee.salary" name="salary" required class="input">
      </div>
      <button type="submit" class="button">Add Employee</button>
      <button class="button cancel" (click)="goBack()">Back to Employee List</button>
    </form>
    
  </div>
  

